@{
    ViewBag.Title = "Yes24 Event Tools";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/tools_Evf_icon.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

        body {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            margin-top: 20px;
            box-sizing: border-box;
        }

        span.navbar-brand:hover {
            color: unset !important;
        }
    </style>
    @RenderSection("style", false)

</head>
<body class="bg-light">
    <nav class="navbar navbar-light" style=" background: linear-gradient(166deg, rgba(49,93,171,1) 0%, rgba(122,111,228,1) 92%);user-select:none;-ms-user-select:none">
        <div class="navbar-brand">
            <a class=" h3 text-light text-uppercase text-decoration-none d-inline-block m-0" href="@Url.Action("Index","Home")" title="Home">
                <i class="fa fa-home h3 m-0"></i>
            </a>
            <span class="text-light text-uppercase h4 d-inline-block m-0">
                @ViewBag.Header
            </span>
        </div>

    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("modal", false)
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
